.subscribers-container{
    position: relative;
    top: 50px;
    width: 80%;
    margin: 0px auto;
}
.subscribers-container{
    position: relative;
    width: 100%;
    margin: 0px auto;
    top: 64px;
}
.subscribers-table{
    top: 0px;
    width: 95%;
    position: relative;
    top: 20px;
    margin: 0 auto;
}
div.subscribers-table .ant-table{
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
div.subscribers-table .ant-table-body table thead th {
    background: #1890ff;
    border-right: none;
    color: #fff;
}
.ant-table .ant-table-title{
    background: #001529;
}
