.orders-table{
    top: 0px;
    width: 95%;
    position: relative;
    top: 84px;
    margin: 0 auto;
}
div.orders-table .ant-table{
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
div.orders-table .ant-table-body table thead th {
    background: #1890ff;
    border-right: none;
    color: #fff;
}
.ant-table .ant-table-title{
    background: #001529;
}