.text-field Input{
    border: 1px solid rgba(0, 0, 0, 0.21);
    padding: 7px;
    width: 67%;
    border-radius: 4px;
    box-shadow: none;
}
/* Ant Tooltip */
.ant-tooltip{
    z-index: 10000 !important;
}
/* Table Title */
div.table-title{
    height: 35px;
}
div.table-title h2{
    color: #fff;
    width: 20%;
    float: left;
}
div.table-title .select-filter{
    width: 35%;
    float: left;
}
div.table-title .ant-input-search{
    display: block;
}
.ant-input-search .ant-input{
    width: 30%;
    float: right;
}
.search-input.ant-input-search .ant-input-suffix{
    margin-top: 15px;
}
.ant-list-item-meta-title span p{
    font-weight: 400;
    color: #b0a3a3;
}
  