.weekly-row{
    padding-left: 20px;
    padding-right: 20px;
}
.weekly-row h3{
    text-align: left;
}
.weekly-row .ant-card-head{
    min-height: 0px;
    padding: 0;
    height: 35px;
    font-size: 15px;
}
.weekly-row .ant-card-head-wrapper{
    height: inherit;
}
.weekly-row .ant-card-head-title{
    background-color: #1e1c5d;
    color: #fff;
    height: inherit;
    padding: 5px;
}
.weekly-row .ant-card-body{
    padding: 0;
}
.weekly-row .ant-card-body button.add-schedule-button{
    width: 100%;
    height: 90px;
    padding: 0;
    border: 0;
    background-color: #fff;
    border-radius: 0;
    color: #0000007a;
    font-size: 40px;
}
div.timesheet-drawer{
    position: absolute;
}

div.timesheet-drawer button.select-button{
    margin-top: 10px;
    border-radius: 0;
    min-height: 60px;
    height: auto;
}

div.timesheet-drawer button.select-button h4{
    margin-top: 10px;
}

.ant-drawer-body p{
    text-align: left;
}

div.steps-content{
    position: relative;
    overflow: hidden;
}
div.ant-drawer-header{
    background-color: #1e1c5d;
}

div.ant-drawer-header div.ant-drawer-title{
    color: #fff;
}
.ant-card-body button.shift-add-button.add-schedule-button{
    background-color: #74a274fc;
}
.selected-time{
    position: relative;
    top: 5px;
    font-size: 16px;
}
.selected-time h5{
    color: #fff;
}
button.save-schedule-button{
    width: 100%;
    height: 125px;
    border: 0;
    border-radius: 0;
    font-size: 18px;
    /* background-color: #1e1c5d; */
}
.weekly-row .ant-card{
    border: none;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
.timesheet-card{
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
.ant-card-bordered{
    margin: 20px;
}
.timesheet-card .ant-card-head{
    padding: 0;
    background-color: #1e1c5d;
    color: #fff;
}
.timesheet-card .ant-list-items{
    text-align: left;
    color: #1890ff;
}
.timesheet-card .ant-card-head-title{
    text-align: left;
    padding-left: 20px;
}
.timesheet-card .ant-card-extra{
    padding-right: 20px;
    color: #fff;
    font-size: 18px;
}
.timesheets-row{
    padding: 0 50px 50px 50px;

    text-align: left;
}
.weekly-row .ant-col{
    padding-bottom: 50px;
}
button.ant-btn-primary h4, button.ant-btn-primary h5{
    color: #fff;
}
p.error-message{
    color: #ed5959;
}
.edit-shift button.select-button{
    min-height: 65px;
    margin-top: 10px;
    padding: 5px;
}
button.ant-btn.add-schedule-button[disabled]{
    background-color: #e5d9d9;
}
button.timesheetbtn{
    float: right;
    width: 60px;
    box-shadow: 0 0 8px rgba(0,0,0,0.5);
    height: 60px;
    font-size: 37px;
}