aside{
    flex: none !important;
    min-width: 0px !important;
    max-width: 500px !important;
    width: 250px !important;
    height: 100vh;

}
.nav-title{
    color: #fff;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 1000;
}
.banner.ant-layout-header{
    background: #fff;
    border-bottom: 1px solid #92a1ac;
    z-index: 10000;
    position: fixed;
    top: 0px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    min-width: 100vw;
}
.ant-layout-footer{
    text-align: center;
}