body{
    background: #f0f2f5;
}
.intro-header{
    margin: 30px auto;
    color: #ffffff;
}
.header{
    background-image: url(https://www.amitahealth.org/assets/images/medgroup/pediatric_medicine_p1b.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}
.header-inner{
    background-color:rgba(5, 1, 27, 0.82);
    padding-top: 40px;
    padding-bottom: 40px;
    overflow: auto;
    height: 100vh;
}
.logo{
    float: left;
    width: 200px;
    height: 65px;
    background-image: url(https://intelligent-innovation.herokuapp.com/assets/logo.png);
    background-size: 125px auto;
    background-repeat: no-repeat;
    width: 100%;
}
.profile-logo{
    margin-left: 10%;
}
.home-logo{
    float: none;
    /* margin: 0 auto !important; */
}
.header-h1{
   
    color: #fff;
}

.header-h2{
    margin: 0px;
    color: #fff;
    font-size: 22px;
    text-decoration: underline;
    line-height: 2;
}
div.header-divider{
    min-width: 200px;
    width: 297px;
    height: 2px;
    margin: 0px auto 10px;
    float: left;
}
.header-text-div{
    position: relative;
}
.header-text{
    float: left;
}
.header-text-lower{
    float: left;
}
.signup-wrapper{
    float: right;
    padding-bottom: 20px;
    background-color: #f5f5f5;
    width: 90%;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
.form-wrapper{
    background-color: #ffffffbd;
    padding: 20px
}
.form-radio-btn{
    margin: 8px 0px;
}
button.register-btn{
    color: #fff;
    background-color: #1e1c5d;
}
.register-field{
    height: 53px;
    display: flow-root;
}
.form-google-btn{
    margin-top: 2px;
    margin-bottom: 20px;
}

.h-radio-btn1{
    border-radius: 4px;
    margin-right: 4px;
    margin-bottom: 10px;
}
.h-radio-btn2{
    border-radius: 4px;
    float: right;
}
.section-area{
    background: url(https://thoughtlife.files.wordpress.com/2012/01/memorial-card-gradient-background-white-to-blue.jpg) repeat-x;
}
.lower-section{
    padding: 80px 0;
}
.about-us{
    background-color: #f5f5f5;
}
div.sec-con-divider{
    float: left;
    margin: 6px 18px 0px 0px;
    height: 21px;
    width: 5px;
    background-color: #33327b;
}
.us-content{
    margin:5px auto;
    padding-top: 25px;
    padding-bottom: 8px;
    width:83%;
    
}
.about-us-content{
    font-size: 14px;
    color: #222;
    padding-bottom: 35px;
    padding-top: 10px;
}
.contact-us{
    background-color: #f5f5f5;
}
.content-us-content{
    padding-top: 10px;
}
div.contact-textarea{
    display: flow-root;
    padding-bottom: 20px;
}
.contact-label{
    padding-top: 8px;
    font-weight: 600;
    float: left;
    font-size: 13px;
    color: #33327b;
}
input.contact-input, textarea.text-area{
    float: right;
    width: 80%;
}
button.contact-btn{
    float: right;
}
.contact-btns{
    display: flow-root;
    width: 100%;
}
.contact-span{
    display: flow-root;
}
button.ant-modal-close{
    color: #fff;
}
div.ant-modal-header{
    background-color: #1890ff;
}
div.ant-modal-header div.ant-modal-title{
    color: #fff;
}
div.ant-modal-body{
    background-color: #d8d8e17a;
}
div.ant-modal-footer{
    background-color: #d8d8e12b;
}
button.ant-btn.link-button.ant-btn-link{
    padding: 0;
}
.form-align-buttons{
    text-align: right;
}
.home-header-btn{
    float: right;
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    background: #808080cc !important;
}
.home-header-down-btn{
    visibility: hidden;
}
button.home-contact-btn{
    /* margin-right: 10px; */
    margin-bottom: 20px;
    width: 150px;
    margin-top:20px;
    color: #fff;
    background: #808080cc !important;
}
button.home-contact-btn span{
    color: #fff;
}
.logo-image{
    float: left;
}
.change-password-div{
    width: 95%;
    margin: 0 auto;
}


@media screen and (min-width: 969px) {
    .spacer{
        height: 70px;
    }
}
@media screen and (min-width: 770px) and (max-width: 1024px) {
    .form-wrapper{
        margin-top: 100px;
    }
    .button.home-contact-btn {
        margin: 20px 4px;
        width: 115px;}
        .logo {
            margin: 0 auto;
            height: 43px;
            float: left;
            margin-left: 38px;
            width: 128px;
            background-image: url(https://intelligent-innovation.herokuapp.com/assets/logo.png);
            background-size: 128px auto !important;
        }

}
@media screen and (max-width: 991px) {
    .spacer{
        visibility: hidden;
    }
    .header-inner{
        text-align: center;
        padding-top: 40px;
    }
    .header-divider{
        visibility: hidden;
    }
    .signup-wrapper{
        margin: 30px auto 0;
        float: none;}
    .logo{
    margin: 0 auto;
    height: 43px;
    float: initial;
    margin-left: 38px;
    width: 128px;
    background-image: url(https://intelligent-innovation.herokuapp.com/assets/logo.png);
    background-size: 128px auto !important;
    }
    .home-header-down-btn{
    margin-bottom: 20px;
    width: 150px;
    margin-top:20px;
    color: #fff;
    background: #808080cc !important;
    visibility:visible !important;
    }
    .home-header-btn{
        position: absolute !important;
        visibility: hidden;}
    .phone-button{
        margin: 20px 5px;
        width: 120px !important;
        color: #fff;
        background: #808080cc !important;
    }
    button.phone-button i{
        color: #fff;
    }
    button.phone-button span{
        color: #fff;
    }

}