.queries-container{
    position: relative;
    width: 100%;
    margin: 0px auto;
    top: 64px;
}
.queries-container .ant-card{
    width: 95%;
    margin: 0 auto;
    top: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
.queries-container .ant-card .ant-card-head{
    background: #001529;
    color: #fff;
}
.queries-container .ant-card div.form{
    width: 100%;
}