@import '~antd/dist/antd.css';

.App {
    text-align: center;
  }
  
  .App-logo {
    height: 40vmin;
    pointer-events: none;
  }
  
  @media (prefers-reduced-motion: no-preference) {
    .App-logo {
      animation: App-logo-spin infinite 20s linear;
    }
  }
  
  .App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }
  
  .App-link {
    color: #61dafb;
  }
  
  @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }

  /**  CSS for Toasts     **/
  .ant-notification-notice.message-toast{
    background-color: #1890ff;
    color: white;
  }
  .ant-notification-notice{
    background-color: #001529;
    color: #fff;
  }
.ant-notification-notice-message{
  color: #fff;
  padding-bottom: 5px;
  width: 95%;

  font-weight: 100;
}
.message-toast .ant-notification-notice-message{
  display: none;
}
.message-toast .ant-notification-notice-description{
  width: 90%;
}
a.ant-notification-notice-close{
  color: #fff;
}


.error-toast{
  background-color: rgb(19, 18, 18);
}
.error-toast .ant-notification-notice-message{
  color: #fff;
  font-weight: 100;
}
.error-toast .ant-notification-notice-close i{
  top: 19px;
  color: #fff;
}

.title-toast{
  background-color: #33327b;
}
.success-btn{
  color: #fff;
  background-color: #5cb85c;
  border-color: #4cae4c;
}
.success-btn:hover{
  color: #fff;
  background-color: #449d44;
  border-color: #398439;
}
.ant-spin-nested-loading{
  position: inherit;
}
button i.anticon{
  padding-right: 5px;
}
button.ant-btn-circle i{
  padding: 0;
  margin-bottom: 3px;
  /* vertical-align: unset; */
}

/* body::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
	border-radius: 10px;
}

body::-webkit-scrollbar
{
	width: 10px;
	background-color: #F5F5F5;
}

body::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	background-image: -webkit-gradient(linear,
					   left bottom,
					   left top,
					   color-stop(0.44, rgb(122,153,217)),
					   color-stop(0.72, rgb(73,125,189)),
					   color-stop(0.86, rgb(28,58,148)));
} */